@using System.Threading
@{
    ViewBag.Title = "DepartmentManagerPage";
}

<div id="UploadFileWindow"></div>
<div id="CommentWindow"></div>
<div class="row">&nbsp;</div>
<div class="row">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#SentAndAwaitingApprove" data-toggle="tab">Đã trình và chờ duyệt</a></li>
        <li><a href="#Temp" data-toggle="tab">Lưu tạm</a></li>
        <li><a href="#ApprovedAwaitingReceive" data-toggle="tab">Đã duyệt và chờ nhận</a></li>
        <li><a href="#ApprovedAwaitingImplement" data-toggle="tab">Đã duyệt và chờ triển khai</a></li>
        <li><a href="#ApprovedImplemented" data-toggle="tab">Đã duyệt và đã triển khai</a></li>
        <li><a href="#Finished" data-toggle="tab">Đã hoàn thành</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="SentAndAwaitingApprove">
            <div class="row">&nbsp;</div>
            <div id="SentAndAwaitingApproveGrid"></div>
        </div>
        <div class="tab-pane" id="Temp">
            <div class="row">&nbsp;</div>
            <div id="TempGrid"></div>
        </div>
        <div class="tab-pane" id="ApprovedAwaitingReceive">
            <div class="row">&nbsp;</div>
            <div id="ApprovedAwaitingReceiveGrid"></div>
        </div>
        <div class="tab-pane" id="ApprovedAwaitingImplement">
            <div class="row">&nbsp;</div>
            <div id="ApprovedAwaitingImplementGrid"></div>
        </div>
        <div class="tab-pane" id="ApprovedImplemented">
            <div class="row">&nbsp;</div>
            <div id="ApprovedImplementedGrid"></div>
        </div>
        <div class="tab-pane" id="Finished">
            <div class="row">&nbsp;</div>
            <div id="FinishedGrid"></div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script id="proposalCodeTemplate" type="text/x-kendo-tmpl">
        <a href="/chinh-sua-de-xuat/#= Id #" class="label label-primary">#= ProposalCode #</a>
    </script>
    <script id="approveStatusTemplate" type="text/x-kendo-tmpl">
        # if (Approved) { #
        <span class="label label-success">
            Đã duyệt
        </span>
        # } else {#
        <span class="label label-warning">
            Chưa duyệt
        </span>
        # } #
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            implementerDepartmentDataSource.read();
            implementerUserDataSource.read();
            progressStatusDataSource.read();
            //----------Tab 1-----------//
            var sentAndAwaitingApproveDataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/Home/GetMaterials",
                        type: "post"
                    },
                    update: {
                        url: "/Home/AddOrUpdateMaterial",
                        type: "post"
                    },
                    destroy: {
                        url: "/Home/DeleteMaterial",
                        type: "post",
                    },
                    create: {
                        url: "/Home/AddOrUpdateMaterial",
                        type: "post"
                    },
                    parameterMap: function(options, operation) {
                        if (operation !== "read" && options.models) {
                            return {
                                materials: kendo.stringify(options.models)
                            };
                        } else {
                            return {
                                pageNumber: options.page,
                                pageSize: options.pageSize,
                                command: "SentAndAwaitingApprove"
                            };
                        }
                    }
                },
                batch: true,
                //pageSize: 10,
                //serverPaging: true,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: false, nullable: false, defaultValue: 0 },
                            MaterialProposalCode: { editable: false, type: "string", validation: { required: true } },
                            MaterialName: { type: "string", validation: { required: true } },
                            Description: { type: "string" },
                            Quantity: { type: "number" },
                            InventoryQuantity: { type: "number" },
                            Unit: { type: "string", validation: { required: true } },
                            Used: { type: "boolean" },
                            UsingPurpose: { type: "string" },
                            Deadline: { type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            StartDate: { type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            ApproveDate: { type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            FinishDate: { type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            ProgressStatusId: { type: "number" },
                            Note: { type: "string" },
                            ImplementerDepartmentId: { type: "number" },
                            ImplementerUserName: { type: "string" },
                            LastProposalDeparmentComment: { type: "string", editable: false },
                            LastImplementDepartmentComment: { type: "string", editable: false },
                            LastGeneralManagerComment: { type: "string", editable: false },
                            ApproveStatus: { type: "number", editable: false },
                            Finished: { type: "boolean", editable: false }
                        }
                    },
                    total: "total",
                    data: "data"
                }
            });

            $("#SentAndAwaitingApproveGrid").kendoGrid({
                autoBind: window.location.hash == "",
                dataSource: sentAndAwaitingApproveDataSource,
                navigatable: true,
                //pageable: true,
                sortable: true,
                reorderable: true,
                resizable: true,
                filterable: {
                    extra: false,
                    messages: {
                        info: "Lọc theo tiêu chí:", // sets the text on top of the filter menu
                        filter: "Lọc", // sets the text for the "Filter" button
                        clear: "Xóa lọc", // sets the text for the "Clear" button

                        // when filtering boolean numbers
                        isTrue: "đúng", // sets the text for "isTrue" radio button
                        isFalse: "sai", // sets the text for "isFalse" radio button

                        //changes the text of the "And" and "Or" of the filter menu
                        and: "Và",
                        or: "Hoặc"
                    },
                    operators: {
                        //filter menu for "string" type columns
                        string: {
                            contains: "Chứa",
                            startswith: "Bắt đầu với",
                            eq: "Bằng với",
                            neq: "Khác với",
                            endswith: "Kết thúc với"
                        },
                        //filter menu for "number" type columns
                        number: {
                            eq: "Bằng với",
                            neq: "Khác với",
                            gte: "Lớn hơn hoặc bằng",
                            gt: "Lớn hơn",
                            lte: "Nhỏ hơn hoặc bằng",
                            lt: "Nhỏ hơn"
                        },
                        //filter menu for "date" type columns
                        date: {
                            eq: "Đúng ngày",
                            neq: "Khác ngày",
                            gte: "Đúng hoặc sau ngày",
                            gt: "Sau ngày",
                            lte: "Đúng hoặc trước ngày",
                            lt: "Trước ngày"
                        },
                        //filter menu for foreign key values
                        enums: {
                            eq: "Bằng với",
                            neq: "Khác với"
                        }
                    }
                },
                groupable: {
                    messages: {
                        empty: "Kéo thả tên cột vào đây để xem theo nhóm."
                    }
                },
                //toolbar: [{ name: "create", text: "Thêm" }],
                columns: [
                    { field: "MaterialProposalCode", title: "Mã đề xuất", template: "<a href='/chinh-sua-de-xuat/#= MaterialProposalId #' class='label label-primary'>#= MaterialProposalCode #</a>", width: 100 },
                    { field: "MaterialName", template: "#= getMaterialName(Id, MaterialName, File) #", title: "Tên vật tư", width: 200 },
                    { field: "Quantity", title: "SL", width: 70 },
                    { field: "Deadline", format: '{0:dd/MM/yyyy}', title: "Ngày đề nghị nhận", width: 150 },
                    { field: "LastProposalDeparmentComment", title: "Đơn vị đề xuất phản hồi", width: 200 },
                    { field: "LastGeneralManagerComment", title: "Chỉ đạo của TGĐ", width: 200 },
                    { command: [{ text: "Phản hồi", click: showComment }], title: " ", width: "110px" }
                ],
                editable: false,
                filterMenuInit: function(e) {
                    if (e.field == "ImplementerDepartmentId" || e.field == "ProposerDepartmentId" || e.field == "ImplementerUserName") {
                        var firstValueDropDown = e.container.find("select:eq(0)").data("kendoDropDownList");
                        e.container.find(".k-filter-help-text").hide();
                        setTimeout(function() {
                            firstValueDropDown.wrapper.hide();
                        });
                    }
                }
            });

            //----------Tab 2-----------//
            var tempDataSource = new kendo.data.DataSource({
                autoSync: true,
                transport: {
                    read: {
                        url: "/Home/GetMaterialProposals",
                        type: "post"
                    },
                    update: {
                        url: "/Home/AddOrUpdateMaterialProposal",
                        type: "post"
                    },
                    destroy: {
                        url: "/Home/DeleteMaterialProposal",
                        type: "post",
                    },
                    create: {
                        url: "/Home/AddOrUpdateMaterialProposal",
                        type: "post"
                    },
                    parameterMap: function(options, operation) {
                        if (operation !== "read" && options.models) {
                            return {
                                materialProposals: kendo.stringify(options.models),
                                materialProposalId: $("#Id").val()
                            };
                        } else {
                            return {
                                pageNumber: options.page,
                                pageSize: options.pageSize,
                                command: "Temp"
                            };
                        }
                    }
                },
                batch: true,
                //pageSize: 10,
                //serverPaging: true,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: false, nullable: false, defaultValue: 0 },
                            ProposalCode: { editable: false, type: "string", validation: { required: true } },
                            CreatedDate: { editable: false, type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            Approved: { editable: false, type: "boolean" }
                        }
                    },
                    total: "total",
                    data: "data"
                }
            });

            $("#TempGrid").kendoGrid({
                autoBind: false,
                dataSource: tempDataSource,
                navigatable: true,
                //pageable: true,
                sortable: true,
                reorderable: true,
                resizable: true,
                filterable: {
                    extra: false,
                    messages: {
                        info: "Lọc theo tiêu chí:", // sets the text on top of the filter menu
                        filter: "Lọc", // sets the text for the "Filter" button
                        clear: "Xóa lọc", // sets the text for the "Clear" button

                        // when filtering boolean numbers
                        isTrue: "đúng", // sets the text for "isTrue" radio button
                        isFalse: "sai", // sets the text for "isFalse" radio button

                        //changes the text of the "And" and "Or" of the filter menu
                        and: "Và",
                        or: "Hoặc"
                    },
                    operators: {
                        //filter menu for "string" type columns
                        string: {
                            contains: "Chứa",
                            startswith: "Bắt đầu với",
                            eq: "Bằng với",
                            neq: "Khác với",
                            endswith: "Kết thúc với"
                        },
                        //filter menu for "number" type columns
                        number: {
                            eq: "Bằng với",
                            neq: "Khác với",
                            gte: "Lớn hơn hoặc bằng",
                            gt: "Lớn hơn",
                            lte: "Nhỏ hơn hoặc bằng",
                            lt: "Nhỏ hơn"
                        },
                        //filter menu for "date" type columns
                        date: {
                            eq: "Đúng ngày",
                            neq: "Khác ngày",
                            gte: "Đúng hoặc sau ngày",
                            gt: "Sau ngày",
                            lte: "Đúng hoặc trước ngày",
                            lt: "Trước ngày"
                        },
                        //filter menu for foreign key values
                        enums: {
                            eq: "Bằng với",
                            neq: "Khác với"
                        }
                    }
                },
                groupable: {
                    messages: {
                        empty: "Kéo thả tên cột vào đây để xem theo nhóm."
                    }
                },
                //toolbar: [{ name: "create", text: "Thêm" }],
                columns: [
                    { field: "ProposalCode", title: "Mã đề xuất", template: "<a href='/chinh-sua-de-xuat/#= Id #' class='label label-primary'>#= ProposalCode #</a>" },
                    { field: "CreatedDate", format: '{0:dd/MM/yyyy}', title: "Ngày lập bảng" },
                    { field: "Approved", title: "Duyệt", template: $("#approveStatusTemplate").html() },
                    { command: [{ name: "destroy", title: "&nbsp;", text: "Xóa", width: 90 }] }
                ],
                editable: true,
                filterMenuInit: function(e) {
                    if (e.field == "ImplementerDepartmentId" || e.field == "ProposerDepartmentId" || e.field == "ImplementerUserName") {
                        var firstValueDropDown = e.container.find("select:eq(0)").data("kendoDropDownList");
                        e.container.find(".k-filter-help-text").hide();
                        setTimeout(function() {
                            firstValueDropDown.wrapper.hide();
                        });
                    }
                }
            });

            //----------Tab 3-----------//
            var approvedAwaitingReceiveDataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/Home/GetMaterials",
                        type: "post"
                    },
                    update: {
                        url: "/Home/AddOrUpdateMaterial",
                        type: "post"
                    },
                    destroy: {
                        url: "/Home/DeleteMaterial",
                        type: "post",
                    },
                    create: {
                        url: "/Home/AddOrUpdateMaterial",
                        type: "post"
                    },
                    parameterMap: function(options, operation) {
                        if (operation !== "read" && options.models) {
                            return {
                                materials: kendo.stringify(options.models)
                            };
                        } else {
                            return {
                                pageNumber: options.page,
                                pageSize: options.pageSize,
                                command: "ApprovedAwaitingReceive"
                            };
                        }
                    }
                },
                batch: true,
                //pageSize: 10,
                //serverPaging: true,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: false, nullable: false, defaultValue: 0 },
                            MaterialProposalCode: { editable: false, type: "string", validation: { required: true } },
                            MaterialName: { type: "string", validation: { required: true } },
                            Description: { type: "string" },
                            Quantity: { type: "number" },
                            InventoryQuantity: { type: "number" },
                            Unit: { type: "string", validation: { required: true } },
                            Used: { type: "boolean" },
                            UsingPurpose: { type: "string" },
                            Deadline: { type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            StartDate: { type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            ApproveDate: { type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            FinishDate: { type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            ProgressStatusId: { type: "number" },
                            Note: { type: "string" },
                            ImplementerDepartmentId: { type: "number" },
                            ImplementerUserName: { type: "string" },
                            LastProposalDeparmentComment: { type: "string", editable: false },
                            LastImplementDepartmentComment: { type: "string", editable: false },
                            LastGeneralManagerComment: { type: "string", editable: false },
                            ApproveStatus: { type: "number", editable: false },
                            Finished: { type: "boolean", editable: false }
                        }
                    },
                    total: "total",
                    data: "data"
                }
            });

            $("#ApprovedAwaitingReceiveGrid").kendoGrid({
                autoBind: false,
                dataSource: approvedAwaitingReceiveDataSource,
                navigatable: true,
                //pageable: true,
                sortable: true,
                reorderable: true,
                resizable: true,
                filterable: {
                    extra: false,
                    messages: {
                        info: "Lọc theo tiêu chí:", // sets the text on top of the filter menu
                        filter: "Lọc", // sets the text for the "Filter" button
                        clear: "Xóa lọc", // sets the text for the "Clear" button

                        // when filtering boolean numbers
                        isTrue: "đúng", // sets the text for "isTrue" radio button
                        isFalse: "sai", // sets the text for "isFalse" radio button

                        //changes the text of the "And" and "Or" of the filter menu
                        and: "Và",
                        or: "Hoặc"
                    },
                    operators: {
                        //filter menu for "string" type columns
                        string: {
                            contains: "Chứa",
                            startswith: "Bắt đầu với",
                            eq: "Bằng với",
                            neq: "Khác với",
                            endswith: "Kết thúc với"
                        },
                        //filter menu for "number" type columns
                        number: {
                            eq: "Bằng với",
                            neq: "Khác với",
                            gte: "Lớn hơn hoặc bằng",
                            gt: "Lớn hơn",
                            lte: "Nhỏ hơn hoặc bằng",
                            lt: "Nhỏ hơn"
                        },
                        //filter menu for "date" type columns
                        date: {
                            eq: "Đúng ngày",
                            neq: "Khác ngày",
                            gte: "Đúng hoặc sau ngày",
                            gt: "Sau ngày",
                            lte: "Đúng hoặc trước ngày",
                            lt: "Trước ngày"
                        },
                        //filter menu for foreign key values
                        enums: {
                            eq: "Bằng với",
                            neq: "Khác với"
                        }
                    }
                },
                groupable: {
                    messages: {
                        empty: "Kéo thả tên cột vào đây để xem theo nhóm."
                    }
                },
                //toolbar: [{ name: "create", text: "Thêm" }],
                columns: [
                    { field: "MaterialProposalCode", title: "Mã đề xuất", template: "<a href='/chinh-sua-de-xuat/#= MaterialProposalId #' class='label label-primary'>#= MaterialProposalCode #</a>", width: 80 },
                    { field: "MaterialName", template: "#= getMaterialName(Id, MaterialName, File) #", title: "Tên vật tư", width: 120 },
                    { field: "ApproveDate", format: '{0:dd/MM/yyyy}', title: "TGĐ duyệt", width: 80 },
                    {
                        field: "ImplementerDepartmentId",
                        title: "Đơn vị thực hiện",
                        editor: implementerDepartmentEditor,
                        template: "#= getImplementerDepartmentName(ImplementerDepartmentId) #",
                        groupHeaderTemplate: "Đơn vị thực hiện: #= getImplementerDepartmentName(value) #",
                        width: 100,
                        filterable: {
                            ui: implementerDepartmentIdApprovedAwaitingReceiveGridFilter
                        }
                    },
                    { field: "StartDate", format: '{0:dd/MM/yyyy}', title: "Ngày triển khai", width: 80 },
                    { field: "FinishDate", format: '{0:dd/MM/yyyy}', title: "Thời hạn hoàn thành", width: 80 },
                    { field: "ProgressStatusId", title: "Trạng thái tiến độ", editor: progressStatusEditor, template: "#= getProgressStatus(ProgressStatusId) #", groupHeaderTemplate: "Trạng thái tiến độ: #= getProgressStatus(value) #", width: 100 },
                    { field: "LastProposalDeparmentComment", title: "Đơn vị đề xuất phản hồi", width: 100 },
                    { field: "LastImplementDepartmentComment", title: "Đơn vị thực hiện phản hồi", width: 100 },
                    { field: "LastGeneralManagerComment", title: "Chỉ đạo của TGĐ", width: 100 },
                    { command: [{ text: "Phản hồi", click: showComment }], title: " ", width: "85px" }
                ],
                editable: false,
                filterMenuInit: function(e) {
                    if (e.field == "ImplementerDepartmentId" || e.field == "ProposerDepartmentId" || e.field == "ImplementerUserName") {
                        var firstValueDropDown = e.container.find("select:eq(0)").data("kendoDropDownList");
                        e.container.find(".k-filter-help-text").hide();
                        setTimeout(function() {
                            firstValueDropDown.wrapper.hide();
                        });
                    }
                },
                dataBound: function () {
                    var dataView = this.dataSource.view();
                    for (var i = 0; i < dataView.length; i++) {
                        if (dataView[i].ImplementerUserName != "") {
                            if (kendo.parseDate(dataView[i].FinishDate, "dd/MM/yyyy") <= new Date()) {
                                $("#ApprovedAwaitingReceiveGrid tbody").find("tr[data-uid=" + dataView[i].uid + "]").addClass("btn-danger active");
                            } else if (kendo.parseDate(dataView[i].FinishDate, "dd/MM/yyyy") <= new Date().addDays(3)) {
                                $("#ApprovedAwaitingReceiveGrid tbody").find("tr[data-uid=" + dataView[i].uid + "]").addClass("btn-warning active");
                            } else {

                            }
                        } else {
                            $("#ApprovedAwaitingReceiveGrid tbody").find("tr[data-uid=" + dataView[i].uid + "]").addClass("btn-primary active");
                        }
                    }
                }
            });

            //----------Tab 4-----------//
            var approvedAwaitingImplementDataSource = new kendo.data.DataSource({
                sync: function(e) {
                    $("#ApprovedAwaitingImplementGrid").data("kendoGrid").dataSource.read();
                },
                transport: {
                    read: {
                        url: "/Home/GetMaterials",
                        type: "post"
                    },
                    update: {
                        url: "/Home/AddOrUpdateMaterial",
                        type: "post"
                    },
                    destroy: {
                        url: "/Home/DeleteMaterial",
                        type: "post",
                    },
                    create: {
                        url: "/Home/AddOrUpdateMaterial",
                        type: "post"
                    },
                    parameterMap: function(options, operation) {
                        if (operation !== "read" && options.models) {
                            return {
                                materials: kendo.stringify(options.models)
                            };
                        } else {
                            return {
                                pageNumber: options.page,
                                pageSize: options.pageSize,
                                command: "ApprovedAwaitingImplement"
                            };
                        }
                    }
                },
                batch: true,
                //pageSize: 10,
                //serverPaging: true,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: false, nullable: false, defaultValue: 0 },
                            MaterialProposalCode: { editable: false, type: "string", validation: { required: true } },
                            MaterialName: { editable: false, type: "string", validation: { required: true } },
                            Description: { type: "string" },
                            Quantity: { type: "number" },
                            InventoryQuantity: { type: "number" },
                            Unit: { type: "string", validation: { required: true } },
                            Used: { type: "boolean" },
                            UsingPurpose: { type: "string" },
                            Deadline: { editable: false, type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            StartDate: { type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            ApproveDate: { editable: false, type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            FinishDate: { type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            DeliveryDate: { type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            ProgressStatusId: { type: "number" },
                            Note: { type: "string" },
                            ImplementerDepartmentId: { editable: false, type: "number" },
                            ImplementerUserName: { type: "string" },
                            LastProposalDeparmentComment: { type: "string", editable: false },
                            LastImplementDepartmentComment: { type: "string", editable: false },
                            LastGeneralManagerComment: { type: "string", editable: false },
                            ApproveStatus: { type: "number", editable: false },
                            Finished: { type: "boolean", editable: false }
                        }
                    },
                    total: "total",
                    data: "data"
                }
            });

            $("#ApprovedAwaitingImplementGrid").kendoGrid({
                autoBind: false,
                dataSource: approvedAwaitingImplementDataSource,
                navigatable: true,
                //pageable: true,
                sortable: true,
                reorderable: true,
                resizable: true,
                filterable: {
                    extra: false,
                    messages: {
                        info: "Lọc theo tiêu chí:", // sets the text on top of the filter menu
                        filter: "Lọc", // sets the text for the "Filter" button
                        clear: "Xóa lọc", // sets the text for the "Clear" button

                        // when filtering boolean numbers
                        isTrue: "đúng", // sets the text for "isTrue" radio button
                        isFalse: "sai", // sets the text for "isFalse" radio button

                        //changes the text of the "And" and "Or" of the filter menu
                        and: "Và",
                        or: "Hoặc"
                    },
                    operators: {
                        //filter menu for "string" type columns
                        string: {
                            contains: "Chứa",
                            startswith: "Bắt đầu với",
                            eq: "Bằng với",
                            neq: "Khác với",
                            endswith: "Kết thúc với"
                        },
                        //filter menu for "number" type columns
                        number: {
                            eq: "Bằng với",
                            neq: "Khác với",
                            gte: "Lớn hơn hoặc bằng",
                            gt: "Lớn hơn",
                            lte: "Nhỏ hơn hoặc bằng",
                            lt: "Nhỏ hơn"
                        },
                        //filter menu for "date" type columns
                        date: {
                            eq: "Đúng ngày",
                            neq: "Khác ngày",
                            gte: "Đúng hoặc sau ngày",
                            gt: "Sau ngày",
                            lte: "Đúng hoặc trước ngày",
                            lt: "Trước ngày"
                        },
                        //filter menu for foreign key values
                        enums: {
                            eq: "Bằng với",
                            neq: "Khác với"
                        }
                    }
                },
                groupable: {
                    messages: {
                        empty: "Kéo thả tên cột vào đây để xem theo nhóm."
                    }
                },
                toolbar: [{ name: "save", text: "Lưu" }, { name: "cancel", text: "Hủy" }],
                columns: [
                    { field: "MaterialProposalCode", title: "Mã đề xuất", template: "<a href='/chinh-sua-de-xuat/#= MaterialProposalId #' class='label label-primary'>#= MaterialProposalCode #</a>", width: 80 },
                    { field: "MaterialName", template: "#= getMaterialName(Id, MaterialName, File) #", title: "Tên vật tư", width: 120 },
                    { field: "ApproveDate", format: '{0:dd/MM/yyyy}', title: "TGĐ duyệt", width: 80 },
                    { field: "Deadline", format: '{0:dd/MM/yyyy}', title: "Ngày đề nghị nhận", width: 80 },
                    { field: "LastGeneralManagerComment", title: "Chỉ đạo của TGĐ", width: 100 },
                    { field: "ImplementerUserName", title: "Người thực hiện", editor: implementerUserEditor, template: "#= getImplementerDisplayName(ImplementerUserName) #", groupHeaderTemplate: "Người thực hiện: #= getImplementerDisplayName(value) #", width: 100 },
                    { field: "StartDate", format: '{0:dd/MM/yyyy}', title: "Ngày triển khai", width: 80 },
                    { field: "FinishDate", format: '{0:dd/MM/yyyy}', title: "Thời hạn hoàn thành", width: 80 },
                   { command: [{ text: "Phản hồi", click: showComment }], title: " ", width: "80px" }
                ],
                editable: true,
                edit: function (e) {
                    if (e.model.StartDate == null) {
                        e.model.set("StartDate", new Date().addDays(1));
                    }
                }
            });

            //----------Tab 5-----------//
            var approvedImplementedDataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/Home/GetMaterials",
                        type: "post"
                    },
                    update: {
                        url: "/Home/AddOrUpdateMaterial",
                        type: "post"
                    },
                    destroy: {
                        url: "/Home/DeleteMaterial",
                        type: "post",
                    },
                    create: {
                        url: "/Home/AddOrUpdateMaterial",
                        type: "post"
                    },
                    parameterMap: function(options, operation) {
                        if (operation !== "read" && options.models) {
                            return {
                                materials: kendo.stringify(options.models)
                            };
                        } else {
                            return {
                                pageNumber: options.page,
                                pageSize: options.pageSize,
                                command: "ApprovedImplemented"
                            };
                        }
                    }
                },
                batch: true,
                //pageSize: 10,
                //serverPaging: true,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: false, nullable: false, defaultValue: 0 },
                            MaterialProposalCode: { editable: false, type: "string", validation: { required: true } },
                            MaterialName: { editable: false, type: "string", validation: { required: true } },
                            Description: { type: "string" },
                            Quantity: { type: "number" },
                            InventoryQuantity: { type: "number" },
                            Unit: { type: "string", validation: { required: true } },
                            Used: { type: "boolean" },
                            UsingPurpose: { type: "string" },
                            Deadline: { editable: false, type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            StartDate: { type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            ApproveDate: { editable: false, type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            FinishDate: { type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            DeliveryDate: { type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            ProgressStatusId: { type: "number", editable: false },
                            Note: { type: "string" },
                            ImplementerDepartmentId: { editable: false, type: "number" },
                            ImplementerUserName: { type: "string" },
                            LastProposalDeparmentComment: { type: "string", editable: false },
                            LastImplementDepartmentComment: { type: "string", editable: false },
                            LastGeneralManagerComment: { type: "string", editable: false },
                            ApproveStatus: { type: "number", editable: false },
                            Finished: { type: "boolean" }
                        }
                    },
                    total: "total",
                    data: "data"
                }
            });

            $("#ApprovedImplementedGrid").kendoGrid({
                autoBind: false,
                dataSource: approvedImplementedDataSource,
                navigatable: true,
                //pageable: true,
                sortable: true,
                reorderable: true,
                resizable: true,
                filterable: {
                    extra: false,
                    messages: {
                        info: "Lọc theo tiêu chí:", // sets the text on top of the filter menu
                        filter: "Lọc", // sets the text for the "Filter" button
                        clear: "Xóa lọc", // sets the text for the "Clear" button

                        // when filtering boolean numbers
                        isTrue: "đúng", // sets the text for "isTrue" radio button
                        isFalse: "sai", // sets the text for "isFalse" radio button

                        //changes the text of the "And" and "Or" of the filter menu
                        and: "Và",
                        or: "Hoặc"
                    },
                    operators: {
                        //filter menu for "string" type columns
                        string: {
                            contains: "Chứa",
                            startswith: "Bắt đầu với",
                            eq: "Bằng với",
                            neq: "Khác với",
                            endswith: "Kết thúc với"
                        },
                        //filter menu for "number" type columns
                        number: {
                            eq: "Bằng với",
                            neq: "Khác với",
                            gte: "Lớn hơn hoặc bằng",
                            gt: "Lớn hơn",
                            lte: "Nhỏ hơn hoặc bằng",
                            lt: "Nhỏ hơn"
                        },
                        //filter menu for "date" type columns
                        date: {
                            eq: "Đúng ngày",
                            neq: "Khác ngày",
                            gte: "Đúng hoặc sau ngày",
                            gt: "Sau ngày",
                            lte: "Đúng hoặc trước ngày",
                            lt: "Trước ngày"
                        },
                        //filter menu for foreign key values
                        enums: {
                            eq: "Bằng với",
                            neq: "Khác với"
                        }
                    }
                },
                groupable: {
                    messages: {
                        empty: "Kéo thả tên cột vào đây để xem theo nhóm."
                    }
                },
                toolbar: [{ name: "save", text: "Lưu" }, { name: "cancel", text: "Hủy" }],
                columns: [
                    { field: "MaterialProposalCode", title: "Mã đề xuất", template: "<a href='/chinh-sua-de-xuat/#= MaterialProposalId #' class='label label-primary'>#= MaterialProposalCode #</a>", width: 80 },
                    { field: "MaterialName", title: "Tên vật tư", template: "#= getMaterialName(Id, MaterialName, File) #", width: 120 },
                    {
                        field: "ImplementerUserName",
                        title: "Người thực hiện",
                        editor: implementerUserEditor,
                        template: "#= getImplementerDisplayName(ImplementerUserName) #",
                        groupHeaderTemplate: "Người thực hiện: #= getImplementerDisplayName(value) #",
                        width: 100,
                        filterable: {
                            ui: implementerUserNameApprovedImplementedGridFilter
                        }
                    },
                    { field: "StartDate", format: '{0:dd/MM/yyyy}', title: "Ngày triển khai", width: 80 },
                    { field: "FinishDate", format: '{0:dd/MM/yyyy}', title: "Thời hạn hoàn thành", width: 80 },
                    { field: "ProgressStatusId", title: "Trạng thái tiến độ", editor: progressStatusEditor, template: "#= getProgressStatus(ProgressStatusId) #", groupHeaderTemplate: "Trạng thái tiến độ: #= getProgressStatus(value) #", width: 100 },
                    { field: "LastProposalDeparmentComment", title: "Đơn vị đề xuất phản hồi", width: 100 },
                    { field: "LastImplementDepartmentComment", title: "Đơn vị thực hiện phản hồi", width: 100 },
                    { field: "LastGeneralManagerComment", title: "Chỉ đạo của TGĐ", width: 100 },
                     { field: "Finished", title: "Hoàn thành", template: "<input type='checkbox' #= (Finished === true) ? checked='checked' : '' # disabled />", width: 70 },
                    { command: [{ text: "Phản hồi", click: showComment }], title: " ", width: "80px" }
                ],
                editable: true,
                dataBound: function() {
                    var dataView = this.dataSource.view();
                    for (var i = 0; i < dataView.length; i++) {
                        if (kendo.parseDate(dataView[i].FinishDate, "dd/MM/yyyy") <= new Date()) {
                            $("#ApprovedImplementedGrid tbody").find("tr[data-uid=" + dataView[i].uid + "]").addClass("btn-danger active");
                        } else if (kendo.parseDate(dataView[i].FinishDate, "dd/MM/yyyy") <= new Date().addDays(3)) {
                            $("#ApprovedImplementedGrid tbody").find("tr[data-uid=" + dataView[i].uid + "]").addClass("btn-warning active");
                        } else {

                        }
                    }
                },
                filterMenuInit: function(e) {
                    if (e.field == "ImplementerDepartmentId" || e.field == "ProposerDepartmentId" || e.field == "ImplementerUserName") {
                        var firstValueDropDown = e.container.find("select:eq(0)").data("kendoDropDownList");
                        e.container.find(".k-filter-help-text").hide();
                        setTimeout(function() {
                            firstValueDropDown.wrapper.hide();
                        });
                    }
                }
            });

            //----------Tab 6-----------//
            var finishedDataSource = new kendo.data.DataSource({
                autoSync: true,
                transport: {
                    read: {
                        url: "/Home/GetMaterials",
                        type: "post"
                    },
                    update: {
                        url: "/Home/AddOrUpdateMaterial",
                        type: "post"
                    },
                    destroy: {
                        url: "/Home/DeleteMaterial",
                        type: "post",
                    },
                    create: {
                        url: "/Home/AddOrUpdateMaterial",
                        type: "post"
                    },
                    parameterMap: function(options, operation) {
                        if (operation !== "read" && options.models) {
                            return {
                                materials: kendo.stringify(options.models)
                            };
                        } else {
                            return {
                                pageNumber: options.page,
                                pageSize: options.pageSize,
                                command: "Finished"
                            };
                        }
                    }
                },
                batch: true,
                //pageSize: 10,
                //serverPaging: true,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: false, nullable: false, defaultValue: 0 },
                            MaterialProposalCode: { editable: false, type: "string", validation: { required: true } },
                            MaterialName: { editable: false, type: "string", validation: { required: true } },
                            Description: { type: "string" },
                            Quantity: { type: "number" },
                            InventoryQuantity: { type: "number" },
                            Unit: { type: "string", validation: { required: true } },
                            Used: { type: "boolean" },
                            UsingPurpose: { type: "string" },
                            Deadline: { editable: false, type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            StartDate: { type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            ApproveDate: { editable: false, type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            FinishDate: { type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            DeliveryDate: { type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            ProgressStatusId: { type: "number" },
                            Note: { type: "string" },
                            ImplementerDepartmentId: { editable: false, type: "number" },
                            ImplementerUserName: { type: "string" },
                            LastProposalDeparmentComment: { type: "string", editable: false },
                            LastImplementDepartmentComment: { type: "string", editable: false },
                            LastGeneralManagerComment: { type: "string", editable: false },
                            ApproveStatus: { type: "number", editable: false },
                            Finished: { type: "boolean", editable: false }
                        }
                    },
                    total: "total",
                    data: "data"
                }
            });

            $("#FinishedGrid").kendoGrid({
                autoBind: false,
                dataSource: finishedDataSource,
                navigatable: true,
                //pageable: true,
                sortable: true,
                reorderable: true,
                resizable: true,
                filterable: {
                    extra: false,
                    messages: {
                        info: "Lọc theo tiêu chí:", // sets the text on top of the filter menu
                        filter: "Lọc", // sets the text for the "Filter" button
                        clear: "Xóa lọc", // sets the text for the "Clear" button

                        // when filtering boolean numbers
                        isTrue: "đúng", // sets the text for "isTrue" radio button
                        isFalse: "sai", // sets the text for "isFalse" radio button

                        //changes the text of the "And" and "Or" of the filter menu
                        and: "Và",
                        or: "Hoặc"
                    },
                    operators: {
                        //filter menu for "string" type columns
                        string: {
                            contains: "Chứa",
                            startswith: "Bắt đầu với",
                            eq: "Bằng với",
                            neq: "Khác với",
                            endswith: "Kết thúc với"
                        },
                        //filter menu for "number" type columns
                        number: {
                            eq: "Bằng với",
                            neq: "Khác với",
                            gte: "Lớn hơn hoặc bằng",
                            gt: "Lớn hơn",
                            lte: "Nhỏ hơn hoặc bằng",
                            lt: "Nhỏ hơn"
                        },
                        //filter menu for "date" type columns
                        date: {
                            eq: "Đúng ngày",
                            neq: "Khác ngày",
                            gte: "Đúng hoặc sau ngày",
                            gt: "Sau ngày",
                            lte: "Đúng hoặc trước ngày",
                            lt: "Trước ngày"
                        },
                        //filter menu for foreign key values
                        enums: {
                            eq: "Bằng với",
                            neq: "Khác với"
                        }
                    }
                },
                groupable: {
                    messages: {
                        empty: "Kéo thả tên cột vào đây để xem theo nhóm."
                    }
                },
                //toolbar: [{ name: "create", text: "Thêm" }],
                columns: [
                    { field: "MaterialProposalCode", title: "Mã đề xuất", template: "<a href='/chinh-sua-de-xuat/#= MaterialProposalId #' class='label label-primary'>#= MaterialProposalCode #</a>", width: 80 },
                    { field: "MaterialName", title: "Tên vật tư", template: "#= getMaterialName(Id, MaterialName, File) #", width: 120 },
                    {
                        field: "ImplementerUserName",
                        title: "Người thực hiện",
                        editor: implementerUserEditor,
                        template: "#= getImplementerDisplayName(ImplementerUserName) #",
                        groupHeaderTemplate: "Người thực hiện: #= getImplementerDisplayName(value) #",
                        width: 100,
                        filterable: {
                            ui: implementerUserNameFinishedGridFilter
                        }
                    },
                    { field: "StartDate", format: '{0:dd/MM/yyyy}', title: "Ngày triển khai", width: 80 },
                    { field: "FinishDate", format: '{0:dd/MM/yyyy}', title: "Thời hạn hoàn thành", width: 80 },
                    { field: "ProgressStatusId", title: "Trạng thái tiến độ", editor: progressStatusEditor, template: "#= getProgressStatus(ProgressStatusId) #", groupHeaderTemplate: "Trạng thái tiến độ: #= getProgressStatus(value) #", width: 100 },
                    { field: "LastProposalDeparmentComment", title: "Đơn vị đề xuất phản hồi", width: 100 },
                    { field: "LastImplementDepartmentComment", title: "Đơn vị thực hiện phản hồi", width: 100 },
                    { field: "LastGeneralManagerComment", title: "Chỉ đạo của TGĐ", width: 100 },
                    { command: [{ text: "Phản hồi", click: showComment }], title: " ", width: "85px" }
                ],
                editable: false,
                filterMenuInit: function(e) {
                    if (e.field == "ImplementerDepartmentId" || e.field == "ProposerDepartmentId" || e.field == "ImplementerUserName") {
                        var firstValueDropDown = e.container.find("select:eq(0)").data("kendoDropDownList");
                        e.container.find(".k-filter-help-text").hide();
                        setTimeout(function() {
                            firstValueDropDown.wrapper.hide();
                        });
                    }
                }
            });
            $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
                $(e.target.hash + "Grid").data("kendoGrid").dataSource.read();
            });
            var hash = window.location.hash;
            $('ul.nav a[href="' + hash + '"]').parent().removeClass("active");
            hash && $('ul.nav a[href="' + hash + '"]').tab('show');
        });
        Date.prototype.addDays = function(days) {
            this.setDate(this.getDate() + days);
            return this;
        };
        var textareaEditor = function(container, options) {
            $('<textarea class="k-input k-textbox" data-bind="value:' + options.field + '" />')
                .appendTo(container);
        };

        function getImplementerDepartmentName(id) {
            var departmentName = "";
            $.each(implementerDepartmentDataSource._data, function() {
                if (this.Id == id) {
                    departmentName = this.DepartmentName;
                }
            });
            return departmentName;
        }

        var implementerDepartmentDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Home/GetDepartment",
                    type: "post"
                }
            }
        });

        function implementerDepartmentEditor(container, options) {
            $('<input data-bind="value:' + options.field + '"/>')
                .appendTo(container)
                .kendoDropDownList({
                    dataTextField: "DepartmentName",
                    dataValueField: "Id",
                    optionLabel:  {
                        DepartmentName: "-Chọn-",
                        Id: 0
                    },
                    dataSource: implementerDepartmentDataSource
                });
        }

        function getImplementerDisplayName(userName) {
            var displayName = "";
            $.each(implementerUserDataSource._data, function() {
                if (this.UserName == userName) {
                    displayName = this.DisplayName;
                }
            });
            return displayName;
        }

        var implementerUserDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Home/GetUser",
                    type: "post"
                }
            }
        });

        function implementerUserEditor(container, options) {
            $('<input data-bind="value:' + options.field + '"/>')
                .appendTo(container)
                .kendoDropDownList({
                    dataTextField: "DisplayName",
                    dataValueField: "UserName",
                    optionLabel: "-Chọn-",
                    dataSource: {
                        transport: {
                            read: {
                                url: "/Home/GetUser?departmentId=" + options.model.ImplementerDepartmentId,
                                type: "post"
                            }
                        }
                    }
                });
        }

        function getProgressStatus(id) {
            var status = "";
            $.each(progressStatusDataSource._data, function() {
                if (this.Id == id) {
                    status = this.Status;
                }
            });
            return status;
        }

        var progressStatusDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Home/GetProgressStatus",
                    type: "post"
                }
            }
        });

        function progressStatusEditor(container, options) {
            $('<input data-bind="value:' + options.field + '"/>')
                .appendTo(container)
                .kendoDropDownList({
                    dataTextField: "Status",
                    dataValueField: "Id",
                    optionLabel: "-Chọn-",
                    dataSource: progressStatusDataSource
                });
        }

        var materialProposalCodeDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Home/GetMaterialProposals",
                    type: "post"
                }
            }
        });

        function getMaterialProposalLink(code) {
            var proposalCode = "";
            $.each(materialProposalCodeDataSource._data, function() {
                if (this.MaterialProposalCode == code) {
                    proposalCode = "Mã đề xuất: <a href='/chinh-sua-de-xuat/" + this.MaterialProposalId + "' class='label label-primary'>" + this.MaterialProposalCode + "</a>";
                }
            });
            return proposalCode;
        }

        function finishMaterial(e) {
            e.preventDefault();

            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            $.ajax({
                url: '@Url.Action("FinishMaterial", "Home")',
                type: "POST",
                data: { idString: dataItem.Id },
                dataType: "json",
                async: false,
                success: function(result) {
                    if (result) {
                        $("#ApprovedImplementedGrid").data("kendoGrid").dataSource.read();
                    }
                }
            });
        }

        function getNewCommentIcon(haveNew) {
            return haveNew ? '<img style="float:right; height: 30px;" src="/Images/comment.png">' : '';
        }
        
        function getMaterialName(id, materialName, file) {
            return file != "" && file != "[]" ? "<a href='/Home/Material/"+id+"' class='label label-success pull-right'><img src='/Images/attachment.png' style='width: 15px;'><img src='/Images/view.png' style='width: 15px;'></a> " + materialName :
                "<a href='/Home/Material/" + id + "' class='label label-success pull-right'><img src='/Images/view.png' style='width: 15px;'></a> " + materialName;
        }

        var commentWindow;

        function showComment(e) {
            e.preventDefault();
            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            if (dataItem.Id == 0) {
                alert("Phải lưu trước khi phản hồi!");
                return false;
            }
            var hash = "#" + e.delegateTarget.parentElement.id;
            commentWindow = $("#CommentWindow")
                .kendoWindow({
                    title: "Phản hồi",
                    modal: true,
                    visible: false,
                    resizable: false,
                    content: '@Url.Action("CommentPartialView")' + '?id=' + dataItem.Id,
                    width: 600,
                    close: function (e) {
                        $('ul.nav a[href="' + hash + '"]').parent().removeClass("active");
                        $('ul.nav a[href="' + hash + '"]').tab('show');
                    }
                }).data("kendoWindow");
            commentWindow.center().open();
        }

        function implementerDepartmentIdApprovedAwaitingReceiveGridFilter(element) {
            var implementerDepartmentIds = [];
            var implementerDepartmentNames = [];
            var grid = $("#ApprovedAwaitingReceiveGrid").data("kendoGrid");
            $.each(grid.dataSource._data, function() {
                var departmentName = getImplementerDepartmentName(this.ImplementerDepartmentId);
                var obj = { Value: this.ImplementerDepartmentId, Text: departmentName != "" ? departmentName : "Chưa phân công" };
                if ($.inArray(departmentName, implementerDepartmentNames) == -1) {
                    implementerDepartmentIds.push(obj);
                    implementerDepartmentNames.push(departmentName);
                }
            });
            element.kendoDropDownList({
                dataSource: implementerDepartmentIds,
                dataTextField: "Text",
                dataValueField: "Value",
                optionLabel: "-Chọn-",
            });
        }

        function implementerDepartmentIdApprovedAwaitingImplementGridFilter(element) {
            var implementerDepartmentIds = [];
            var implementerDepartmentNames = [];
            var grid = $("#ApprovedAwaitingImplementGrid").data("kendoGrid");
            $.each(grid.dataSource._data, function() {
                var departmentName = getImplementerDepartmentName(this.ImplementerDepartmentId);
                var obj = { Value: this.ImplementerDepartmentId, Text: departmentName != "" ? departmentName : "Chưa phân công" };
                if ($.inArray(departmentName, implementerDepartmentNames) == -1) {
                    implementerDepartmentIds.push(obj);
                    implementerDepartmentNames.push(departmentName);
                }
            });
            element.kendoDropDownList({
                dataSource: implementerDepartmentIds,
                dataTextField: "Text",
                dataValueField: "Value",
                optionLabel: "-Chọn-",
            });
        }

        function implementerUserNameApprovedImplementedGridFilter(element) {
            var implementerUserNames = [];
            var implementerDisplayNames = [];
            var grid = $("#ApprovedImplementedGrid").data("kendoGrid");
            $.each(grid.dataSource._data, function() {
                var displayName = getImplementerDisplayName(this.ImplementerUserName);
                var obj = { Value: this.ImplementerUserName, Text: displayName };
                if ($.inArray(displayName, implementerDisplayNames) == -1 && displayName != "") {
                    implementerUserNames.push(obj);
                    implementerDisplayNames.push(displayName);
                }
            });
            element.kendoDropDownList({
                dataSource: implementerUserNames,
                dataTextField: "Text",
                dataValueField: "Value",
                optionLabel: "-Chọn-",
            });
        }

        function implementerUserNameFinishedGridFilter(element) {
            var implementerUserNames = [];
            var implementerDisplayNames = [];
            var grid = $("#FinishedGrid").data("kendoGrid");
            $.each(grid.dataSource._data, function() {
                var displayName = getImplementerDisplayName(this.ImplementerUserName);
                var obj = { Value: this.ImplementerUserName, Text: displayName };
                if ($.inArray(displayName, implementerDisplayNames) == -1 && displayName != "") {
                    implementerUserNames.push(obj);
                    implementerDisplayNames.push(displayName);
                }
            });
            element.kendoDropDownList({
                dataSource: implementerUserNames,
                dataTextField: "Text",
                dataValueField: "Value",
                optionLabel: "-Chọn-",
            });
        }
    </script>

}