@using System.Threading
@{
    ViewBag.Title = "DepartmentManagerPage";
}

<div class="row">&nbsp;</div>
<div class="row">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#SentAndAwaitingApprove" data-toggle="tab">Đã trình và chờ duyệt</a></li>
        <li><a href="#Temp" data-toggle="tab">Lưu tạm</a></li>
        <li><a href="#ApprovedAwaitingReceive" data-toggle="tab">Đã duyệt và chờ nhận</a></li>
        <li><a href="#ApprovedAwaitingImplement" data-toggle="tab">Đã duyệt và chờ triển khai</a></li>
        <li><a href="#ApprovedImplemented" data-toggle="tab">Đã duyệt và đã triển khai</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="SentAndAwaitingApprove">
            <div class="row">&nbsp;</div>
            <div id="SentAndAwaitingApproveGrid"></div>
        </div>
        <div class="tab-pane" id="Temp">
            <div class="row">&nbsp;</div>
            <div id="TempGrid"></div>
        </div>
        <div class="tab-pane" id="ApprovedAwaitingReceive">
            <div class="row">&nbsp;</div>
            <div id="ApprovedAwaitingReceiveGrid"></div>
        </div>
        <div class="tab-pane" id="ApprovedAwaitingImplement">
            <div class="row">&nbsp;</div>
            <div id="ApprovedAwaitingImplementGrid"></div>
        </div>
        <div class="tab-pane" id="ApprovedImplemented">
            <div class="row">&nbsp;</div>
            <div id="ApprovedImplementedGrid"></div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script id="proposalCodeTemplate" type="text/x-kendo-tmpl">
        <a href="/chinh-sua-de-xuat/#= Id #" class="label label-primary">#= ProposalCode #</a>
    </script>
    <script id="approveStatusTemplate" type="text/x-kendo-tmpl">
        # if (Approved) { #
        <span class="label label-success">
            Đã duyệt
        </span>
        # } else {#
        <span class="label label-warning">
            Chưa duyệt
        </span>
        # } #
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            implementerDepartmentDataSource.read();
            implementerUserDataSource.read();
            progressStatusDataSource.read();
            //----------Tab 1-----------//
            var sentAndAwaitingApproveDataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/Home/GetMaterialProposals",
                        type: "post"
                    },
                    update: {
                        url: "/Home/AddOrUpdateMaterial",
                        type: "post"
                    },
                    destroy: {
                        url: "/Home/DeleteMaterial",
                        type: "post",
                    },
                    create: {
                        url: "/Home/AddOrUpdateMaterial",
                        type: "post"
                    },
                    parameterMap: function(options, operation) {
                        if (operation !== "read" && options.models) {
                            return {
                                materials: kendo.stringify(options.models),
                                materialProposalId: $("#Id").val()
                            };
                        } else {
                            return {
                                pageNumber: options.page,
                                pageSize: options.pageSize,
                                command: "SentAndAwaitingApprove"
                            };
                        }
                    }
                },
                batch: true,
                pageSize: 10,
                serverPaging: true,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: false, nullable: false, defaultValue: 0 },
                            ProposalCode: { type: "string", validation: { required: true } },
                            CreatedDate: { type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            Approved: { type: "boolean" }
                        }
                    },
                    total: "total",
                    data: "data"
                }
            });

            $("#SentAndAwaitingApproveGrid").kendoGrid({
                dataSource: sentAndAwaitingApproveDataSource,
                navigatable: true,
                pageable: true,
                groupable: {
                    messages: {
                        empty: "Kéo thả tên cột vào đây để xem theo nhóm."
                    }
                },
                //toolbar: [{ name: "create", text: "Thêm" }],
                columns: [
                    { field: "ProposalCode", title: "Mã đề xuất", template: "<a href='/chinh-sua-de-xuat/#= Id #' class='label label-primary'>#= ProposalCode #</a>" },
                    { field: "CreatedDate", format: '{0:dd/MM/yyyy}', title: "Ngày lập bảng" },
                    { field: "Approved", title: "Duyệt", template: $("#approveStatusTemplate").html() }
                ],
                editable: false
            });
            
            //----------Tab 2-----------//
            var tempDataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/Home/GetMaterialProposals",
                        type: "post"
                    },
                    update: {
                        url: "/Home/AddOrUpdateMaterial",
                        type: "post"
                    },
                    destroy: {
                        url: "/Home/DeleteMaterial",
                        type: "post",
                    },
                    create: {
                        url: "/Home/AddOrUpdateMaterial",
                        type: "post"
                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            return {
                                materials: kendo.stringify(options.models),
                                materialProposalId: $("#Id").val()
                            };
                        } else {
                            return {
                                pageNumber: options.page,
                                pageSize: options.pageSize,
                                command: "Temp"
                            };
                        }
                    }
                },
                batch: true,
                pageSize: 10,
                serverPaging: true,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: false, nullable: false, defaultValue: 0 },
                            ProposalCode: { type: "string", validation: { required: true } },
                            CreatedDate: { type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            Approved: { type: "boolean" }
                        }
                    },
                    total: "total",
                    data: "data"
                }
            });

            $("#TempGrid").kendoGrid({
                dataSource: tempDataSource,
                navigatable: true,
                pageable: true,
                groupable: {
                    messages: {
                        empty: "Kéo thả tên cột vào đây để xem theo nhóm."
                    }
                },
                //toolbar: [{ name: "create", text: "Thêm" }],
                columns: [
                    { field: "ProposalCode", title: "Mã đề xuất", template: "<a href='/chinh-sua-de-xuat/#= Id #' class='label label-primary'>#= ProposalCode #</a>" },
                    { field: "CreatedDate", format: '{0:dd/MM/yyyy}', title: "Ngày lập bảng" },
                    { field: "Approved", title: "Duyệt", template: $("#approveStatusTemplate").html() }
                ],
                editable: false
            });

            //----------Tab 3-----------//
            var approvedAwaitingReceiveDataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/Home/GetMaterials",
                        type: "post"
                    },
                    update: {
                        url: "/Home/AddOrUpdateMaterial",
                        type: "post"
                    },
                    destroy: {
                        url: "/Home/DeleteMaterial",
                        type: "post",
                    },
                    create: {
                        url: "/Home/AddOrUpdateMaterial",
                        type: "post"
                    },
                    parameterMap: function(options, operation) {
                        if (operation !== "read" && options.models) {
                            return {
                                materials: kendo.stringify(options.models)
                            };
                        } else {
                            return {
                                pageNumber: options.page,
                                pageSize: options.pageSize,
                                command: "ApprovedAwaitingReceive"
                            };
                        }
                    }
                },
                batch: true,
                pageSize: 10,
                serverPaging: true,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: false, nullable: false, defaultValue: 0 },
                            MaterialProposalCode: { editable: false, type: "string", validation: { required: true } },
                            MaterialName: { type: "string", validation: { required: true } },
                            Description: { type: "string" },
                            Quantity: { type: "number" },
                            InventoryQuantity: { type: "number" },
                            Unit: { type: "string", validation: { required: true } },
                            Used: { type: "boolean" },
                            UsingPurpose: { type: "string" },
                            Deadline: { type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            StartDate: { type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            ApproveDate: { type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            FinishDate: { type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            ProgressStatusId: { type: "number" },
                            Note: { type: "string" },
                            ImplementerDepartmentId: { type: "number" },
                            ImplementerUserName: { type: "string" },
                            ApproveStatus: { type: "number", editable: false },
                            Finished: { type: "boolean", editable: false }
                        }
                    },
                    total: "total",
                    data: "data"
                }
            });

            $("#ApprovedAwaitingReceiveGrid").kendoGrid({
                dataSource: approvedAwaitingReceiveDataSource,
                navigatable: true,
                pageable: true,
                groupable: {
                    messages: {
                        empty: "Kéo thả tên cột vào đây để xem theo nhóm."
                    }
                },
                //toolbar: [{ name: "create", text: "Thêm" }],
                columns: [
                    { field: "MaterialProposalCode", title: "Mã đề xuất", template: "<a href='/chinh-sua-de-xuat/#= MaterialProposalId #' class='label label-primary'>#= MaterialProposalCode #</a>", width: 100 },
                    { field: "MaterialName", template: "<a href='/Home/Material/#= Id #' class='label label-success pull-right'>Xem</a> #= MaterialName #", title: "Tên vật tư", width: 200 },
                    { field: "ApproveDate", format: '{0:dd/MM/yyyy}', title: "TGĐ duyệt", width: 150 },
                    { field: "ImplementerDepartmentId", title: "Đơn vị thực hiện", editor: implementerDepartmentEditor, template: "#= getImplementerDepartmentName(ImplementerDepartmentId) #", groupHeaderTemplate: "Đơn vị thực hiện: #= getImplementerDepartmentName(value) #", width: 150 },
                    { field: "StartDate", format: '{0:dd/MM/yyyy}', title: "Ngày giao việc", width: 150 },
                    { field: "FinishDate", format: '{0:dd/MM/yyyy}', title: "Ngày hoàn thành", width: 150 },
                    { field: "ProgressStatusId", title: "Trạng thái tiến độ", editor: progressStatusEditor, template: "#= getProgressStatus(ProgressStatusId) #", groupHeaderTemplate: "Trạng thái tiến độ: #= getProgressStatus(value) #", width: 200 },
                ],
                editable: false
            });

            //----------Tab 4-----------//
            var approvedAwaitingImplementDataSource = new kendo.data.DataSource({
                autoSync: true,
                transport: {
                    read: {
                        url: "/Home/GetMaterials",
                        type: "post"
                    },
                    update: {
                        url: "/Home/AddOrUpdateMaterial",
                        type: "post"
                    },
                    destroy: {
                        url: "/Home/DeleteMaterial",
                        type: "post",
                    },
                    create: {
                        url: "/Home/AddOrUpdateMaterial",
                        type: "post"
                    },
                    parameterMap: function(options, operation) {
                        if (operation !== "read" && options.models) {
                            return {
                                materials: kendo.stringify(options.models)
                            };
                        } else {
                            return {
                                pageNumber: options.page,
                                pageSize: options.pageSize,
                                command: "ApprovedAwaitingImplement"
                            };
                        }
                    }
                },
                batch: true,
                pageSize: 10,
                serverPaging: true,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: false, nullable: false, defaultValue: 0 },
                            MaterialProposalCode: { editable: false, type: "string", validation: { required: true } },
                            MaterialName: { editable: false, type: "string", validation: { required: true } },
                            Description: { type: "string" },
                            Quantity: { type: "number" },
                            InventoryQuantity: { type: "number" },
                            Unit: { type: "string", validation: { required: true } },
                            Used: { type: "boolean" },
                            UsingPurpose: { type: "string" },
                            Deadline: { editable: false, type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            StartDate: { type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            ApproveDate: { editable: false, type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            FinishDate: { type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            DeliveryDate: { type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            ProgressStatusId: { type: "number" },
                            Note: { type: "string" },
                            ImplementerDepartmentId: { editable: false, type: "number" },
                            ImplementerUserName: { type: "string" },
                            ApproveStatus: { type: "number", editable: false },
                            Finished: { type: "boolean", editable: false }
                        }
                    },
                    total: "total",
                    data: "data"
                }
            });

            $("#ApprovedAwaitingImplementGrid").kendoGrid({
                dataSource: approvedAwaitingImplementDataSource,
                navigatable: true,
                pageable: true,
                groupable: {
                    messages: {
                        empty: "Kéo thả tên cột vào đây để xem theo nhóm."
                    }
                },
                //toolbar: [{ name: "create", text: "Thêm" }],
                columns: [
                    { field: "MaterialProposalCode", title: "Mã đề xuất", template: "<a href='/chinh-sua-de-xuat/#= MaterialProposalId #' class='label label-primary'>#= MaterialProposalCode #</a>", width: 100 },
                    { field: "MaterialName", template: "<a href='/Home/Material/#= Id #' class='label label-success pull-right'>Xem</a> #= MaterialName #", title: "Tên vật tư" },
                    { field: "ApproveDate", format: '{0:dd/MM/yyyy}', title: "TGĐ duyệt", width: 150 },
                    { field: "Deadline", format: '{0:dd/MM/yyyy}', title: "Ngày nhận vật tư", width: 150 },
                    { field: "ImplementerDepartmentId", title: "Đơn vị thực hiện", editor: implementerDepartmentEditor, template: "#= getImplementerDepartmentName(ImplementerDepartmentId) #", groupHeaderTemplate: "Đơn vị thực hiện: #= getImplementerDepartmentName(value) #", width: 150 },
                    { field: "ImplementerUserName", title: "Người thực hiện", editor: implementerUserEditor, template: "#= getImplementerDisplayName(ImplementerUserName) #", groupHeaderTemplate: "Người thực hiện: #= getImplementerDisplayName(value) #", width: 150 },
                    { field: "StartDate", format: '{0:dd/MM/yyyy}', title: "Ngày giao việc", width: 150 },
                    { field: "FinishDate", format: '{0:dd/MM/yyyy}', title: "Ngày hoàn thành", width: 150 }
                ],
                editable: true
            });

            //----------Tab 5-----------//
            var approvedImplementedDataSource = new kendo.data.DataSource({
                autoSync: true,
                transport: {
                    read: {
                        url: "/Home/GetMaterials",
                        type: "post"
                    },
                    update: {
                        url: "/Home/AddOrUpdateMaterial",
                        type: "post"
                    },
                    destroy: {
                        url: "/Home/DeleteMaterial",
                        type: "post",
                    },
                    create: {
                        url: "/Home/AddOrUpdateMaterial",
                        type: "post"
                    },
                    parameterMap: function(options, operation) {
                        if (operation !== "read" && options.models) {
                            return {
                                materials: kendo.stringify(options.models)
                            };
                        } else {
                            return {
                                pageNumber: options.page,
                                pageSize: options.pageSize,
                                command: "ApprovedImplemented"
                            };
                        }
                    }
                },
                batch: true,
                pageSize: 10,
                serverPaging: true,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: false, nullable: false, defaultValue: 0 },
                            MaterialProposalCode: { editable: false, type: "string", validation: { required: true } },
                            MaterialName: { editable: false, type: "string", validation: { required: true } },
                            Description: { type: "string" },
                            Quantity: { type: "number" },
                            InventoryQuantity: { type: "number" },
                            Unit: { type: "string", validation: { required: true } },
                            Used: { type: "boolean" },
                            UsingPurpose: { type: "string" },
                            Deadline: { editable: false, type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            StartDate: { type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            ApproveDate: { editable: false, type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            FinishDate: { type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            DeliveryDate: { type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            ProgressStatusId: { type: "number" },
                            Note: { type: "string" },
                            ImplementerDepartmentId: { editable: false, type: "number" },
                            ImplementerUserName: { type: "string" },
                            ApproveStatus: { type: "number", editable: false },
                            Finished: { type: "boolean", editable: false }
                        }
                    },
                    total: "total",
                    data: "data"
                }
            });

            $("#ApprovedImplementedGrid").kendoGrid({
                dataSource: approvedImplementedDataSource,
                navigatable: true,
                pageable: true,
                groupable: {
                    messages: {
                        empty: "Kéo thả tên cột vào đây để xem theo nhóm."
                    }
                },
                //toolbar: [{ name: "create", text: "Thêm" }],
                columns: [
                    { field: "MaterialProposalCode", title: "Mã đề xuất", template: "<a href='/chinh-sua-de-xuat/#= MaterialProposalId #' class='label label-primary'>#= MaterialProposalCode #</a>", width: 100 },
                    { field: "MaterialName", title: "Tên vật tư", template: "<a href='/Home/Material/#= Id #' class='label label-success pull-right'>Xem</a> #= MaterialName #", width: 200 },
                    { field: "ImplementerUserName", title: "Người thực hiện", editor: implementerUserEditor, template: "#= getImplementerDisplayName(ImplementerUserName) #", groupHeaderTemplate: "Người thực hiện: #= getImplementerDisplayName(value) #", width: 150 },
                    { field: "StartDate", format: '{0:dd/MM/yyyy}', title: "Ngày giao việc", width: 150 },
                    { field: "FinishDate", format: '{0:dd/MM/yyyy}', title: "Ngày hoàn thành", width: 150 },
                    { field: "ProgressStatusId", title: "Trạng thái tiến độ", editor: progressStatusEditor, template: "#= getProgressStatus(ProgressStatusId) #", groupHeaderTemplate: "Trạng thái tiến độ: #= getProgressStatus(value) #", width: 200 },
                    { command: { text: "Hoàn tất", click: finishMaterial }, title: " ", width: "140px" }
                ],
                editable: false,
                dataBound: function () {
                    var dataView = this.dataSource.view();
                    for (var i = 0; i < dataView.length; i++) {
                        if (kendo.parseDate(dataView[i].FinishDate, "dd/MM/yyyy") <= new Date()) {
                            $("#ApprovedImplementedGrid tbody").find("tr[data-uid=" + dataView[i].uid + "]").addClass("btn-danger active");
                        } else if (kendo.parseDate(dataView[i].FinishDate, "dd/MM/yyyy") <= new Date().addDays(1)) {
                            $("#ApprovedImplementedGrid tbody").find("tr[data-uid=" + dataView[i].uid + "]").addClass("btn-warning active");
                        } else {

                        }
                    }
                }
            });
        });
        Date.prototype.addDays = function(days) {
            this.setDate(this.getDate() + days);
            return this;
        };
        var textareaEditor = function(container, options) {
            $('<textarea class="k-input k-textbox" data-bind="value:' + options.field + '" />')
                .appendTo(container);
        };

        function getImplementerDepartmentName(id) {
            var departmentName = "";
            $.each(implementerDepartmentDataSource._data, function() {
                if (this.Id == id) {
                    departmentName = this.DepartmentName;
                }
            });
            return departmentName;
        }

        var implementerDepartmentDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Home/GetDepartment",
                    type: "post"
                }
            }
        });

        function implementerDepartmentEditor(container, options) {
            $('<input required data-bind="value:' + options.field + '"/>')
                .appendTo(container)
                .kendoDropDownList({
                    dataTextField: "DepartmentName",
                    dataValueField: "Id",
                    optionLabel: "-Chọn-",
                    dataSource: implementerDepartmentDataSource
                });
        }

        function getImplementerDisplayName(userName) {
            var displayName = "";
            $.each(implementerUserDataSource._data, function() {
                if (this.UserName == userName) {
                    displayName = this.DisplayName;
                }
            });
            return displayName;
        }

        var implementerUserDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Home/GetUser",
                    type: "post"
                }
            }
        });

        function implementerUserEditor(container, options) {
            $('<input required data-bind="value:' + options.field + '"/>')
                .appendTo(container)
                .kendoDropDownList({
                    dataTextField: "DisplayName",
                    dataValueField: "UserName",
                    optionLabel: "-Chọn-",
                    dataSource: implementerUserDataSource
                });
        }

        function getProgressStatus(id) {
            var status = "";
            $.each(progressStatusDataSource._data, function() {
                if (this.Id == id) {
                    status = this.Status;
                }
            });
            return status;
        }

        var progressStatusDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Home/GetProgressStatus",
                    type: "post"
                }
            }
        });

        function progressStatusEditor(container, options) {
            $('<input required data-bind="value:' + options.field + '"/>')
                .appendTo(container)
                .kendoDropDownList({
                    dataTextField: "Status",
                    dataValueField: "Id",
                    optionLabel: "-Chọn-",
                    dataSource: progressStatusDataSource
                });
        }

        var materialProposalCodeDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Home/GetMaterialProposals",
                    type: "post"
                }
            }
        });

        function getMaterialProposalLink(code) {
            var proposalCode = "";
            $.each(materialProposalCodeDataSource._data, function() {
                if (this.MaterialProposalCode == code) {
                    proposalCode = "Mã đề xuất: <a href='/chinh-sua-de-xuat/" + this.MaterialProposalId + "' class='label label-primary'>" + this.MaterialProposalCode + "</a>";
                }
            });
            return proposalCode;
        }

        function finishMaterial(e) {
            e.preventDefault();

            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
            $.ajax({
                url: '@Url.Action("FinishMaterial", "Home")',
                type: "POST",
                data: { idString: dataItem.Id },
                dataType: "json",
                async: false,
                success: function(result) {
                    if (result) {
                        $("#ApprovedImplementedGrid").data("kendoGrid").dataSource.read();
                    }
                }
            });
        }
    </script>

    }