@using System.Threading
@using KymdanMM.Model.Models
@{
    ViewBag.Title = "Home Page";
}
<div class="row">&nbsp;</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Danh sách công việc</div>
        <div class="panel-body">
            @*<div class="pull-right">
                <a href="#" class="btn btn-danger" role="button">Xóa mục đã chọn</a>
                @if (Thread.CurrentPrincipal.IsInRole("Member"))
                {
                    <a href="@Url.Action("AddOrUpdateMaterialProposal")" class="btn btn-primary" role="button">Thêm đề xuất</a>
                }
                else
                {
                    <a href="#" class="btn btn-success" role="button">Duyệt mục đã chọn</a>
                }
            </div>
            <div class="clearfix"></div>
            <div class="row">&nbsp;</div>*@
            <div id="MaterialProposalGrid"></div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script id="proposalCodeTemplate" type="text/x-kendo-tmpl">
        <a href="/chinh-sua-de-xuat/#= Id #" class="label label-primary">#= ProposalCode #</a>
    </script>
    <script id="approveStatusTemplate" type="text/x-kendo-tmpl">
    # if (ApproveStatus == 2) { #
    <span class="label label-success">
        Tổng giám đốc duyệt
    </span>
    # } else if (ApproveStatus == 1){#
    <span class="label label-info">
        Quản lý duyệt
    </span>
    # } else {#
    <span class="label label-warning">
        Chưa duyệt
    </span>
    # } #
</script>
<script id="finishStatusTemplate" type="text/x-kendo-tmpl">
    # if (Finished) { #
    <span class="label label-success">
        Đã hoàn thành
    </span>
    # } else {#
    <span class="label label-warning">
        Chưa hoàn thành
    </span>
    # } #
</script>
    <script type="text/x-kendo-template" id="materialProposalToolbarTemplate">
        <div class="toolbar">
            <div class="col-lg-8">
                <label>Xem theo:</label>
                @if (Thread.CurrentPrincipal.IsInRole("Admin"))
                {
                    <input id="DepartmentId" />
                }
                <input id="ProgressStatusId" />
                <div class="btn-group" data-toggle="buttons" id="ApproveStatus">
                    @if (!Thread.CurrentPrincipal.IsInRole("Admin"))
                    {
                        <label class="btn btn-warning">
                            <input type="radio" name="approveStatus" value="0"> Chưa duyệt
                        </label>
                    }
                    <label class="btn btn-info">
                        <input type="radio" name="approveStatus" value="1"> Quản lý duyệt
                    </label>
                    <label class="btn btn-success">
                        <input type="radio" name="approveStatus" value="2"> Tổng giám đốc duyệt
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="approveStatus" value=""> Tất cả
                    </label>
                </div>

            </div>
            <div class="input-group col-lg-3">
                <input type="text" class="form-control" id="keyWord" placeholder="Từ khóa" />
                <span class="input-group-btn">
                    <button class="btn btn-default" id="search" type="button">Tìm</button>
                </span>
            </div>
        </div>
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            var materialProposalDataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: "/Home/GetMaterial",
                        type: "post"
                    },
                    update: {
                        url: "/Home/AddOrUpdateMaterial",
                        type: "post"
                    },
                    destroy: {
                        url: "/Home/DeleteMaterial",
                        type: "post",
                    },
                    create: {
                        url: "/Home/AddOrUpdateMaterial",
                        type: "post"
                    },
                    parameterMap: function(options, operation) {
                        if (operation !== "read" && options.models) {
                            return {
                                models: kendo.stringify(options.models)
                            };
                        } else {
                            return {
                                keyWord: $("#keyWord").val(),
                                pageNumber: options.page,
                                pageSize: options.pageSize,
                                departmentId: $("#DepartmentId").val(),
                                progressStatusId: $("#ProgressStatusId").val(),
                                approveStatus: $("#ApproveStatus > label.active > input:radio[name='approveStatus']").val(),
                                finished: true
                        };
                        }
                    }
                },
                group: [{ field: "Type" }, { field: "MaterialProposalCode" }],
                batch: true,
                pageSize: 10,
                serverPaging: true,
                schema: {
                    model: {
                        id: "Id",
                        fields: {
                            Id: { editable: false, nullable: false, defaultValue: 0 },
                            MaterialName: { type: "string", validation: { required: true } },
                            Description: { type: "string" },
                            Quantity: { type: "number" },
                            Unit: { type: "string", validation: { required: true } },
                            Used: { type: "boolean" },
                            UsingPurpose: { type: "string" },
                            Deadline: { type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            StartDate: { type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            ApproveDate: { type: "date", format: "dd/MM/yyyy", validation: { required: true } },
                            ProgressStatusId: { type: "number" },
                            Note: { type: "string" },
                            ImplementerDepartmentId: { type: "number" },
                            ImplementerUserName: { type: "string" },
                            ApproveStatus: { type: "number" },
                            Finished: { type: "boolean" }
                        }
                    },
                    total: "total",
                    data: "data"
                }
            });

            $("#MaterialProposalGrid").kendoGrid({
                dataSource: materialProposalDataSource,
                navigatable: true,
                pageable: true,
                sortable: true,
                resizable: true,
                groupable: {
                    messages: {
                        empty: "Kéo thả tên cột vào đây để xem theo nhóm."
                    }
                },
                columnMenu: true,
                toolbar: kendo.template($("#materialProposalToolbarTemplate").html()),
                columns: [
                    { field: "MaterialProposalCode", title: "Mã đề xuất", hidden: true, groupHeaderTemplate: "#= getMaterialProposalLink(value) #", width: 100 },
                    { field: "Type", title: "Loại", groupHeaderTemplate: "<span class='label label-success label-medium'>#= value #</span>", hidden: true, width: 200 },
                    { field: "MaterialName", title: "Tên vật tư", locked: true, width: 200 },
                    { field: "Description", title: "Mô tả", editor: textareaEditor, width: 200 },
                    { field: "Quantity", title: "SL", width: 70 },
                    { field: "Unit", title: "ĐVT", width: 100 },
                    { field: "Used", title: "Đã sử dụng?", hidden: true },
                    { field: "UsingPurpose", title: "Mục đích sử dụng", editor: textareaEditor, width: 170 },
                    { field: "StartDate", format: '{0:dd/MM/yyyy}', title: "Ngày bắt đầu", width: 150 },
                    { field: "Deadline", format: '{0:dd/MM/yyyy}', title: "Hạn chót", width: 150 },
                    { field: "ApproveDate", format: '{0:dd/MM/yyyy}', title: "Ngày duyệt", width: 150 },
                    { field: "ImplementerDepartmentId", title: "Đơn vị thực hiện", editor: implementerDepartmentEditor, template: "#= getImplementerDepartmentName(ImplementerDepartmentId) #", groupHeaderTemplate: "Đơn vị thực hiện: #= getImplementerDepartmentName(value) #", width: 150 },
                    { field: "ImplementerUserName", title: "Người thực hiện", editor: implementerUserEditor, template: "#= getImplementerDisplayName(ImplementerUserName) #", groupHeaderTemplate: "Người thực hiện: #= getImplementerDisplayName(value) #", width: 150 },
                    { field: "ProgressStatusId", title: "Trạng thái tiến độ", editor: progressStatusEditor, template: "#= getProgressStatus(ProgressStatusId) #", groupHeaderTemplate: "Trạng thái tiến độ: #= getProgressStatus(value) #", width: 200 },
                    { field: "ApproveStatus", title: "Duyệt", template: $("#approveStatusTemplate").html(), width: 150 },
                    { field: "Finished", title: "Hoàn tất", template: $("#finishStatusTemplate").html(), width: 130 },
                    { field: "Note", title: "Ghi chú", editor: textareaEditor, width: 150 },
                    { command: [{ name: "destroy", title: "&nbsp;", text: "Xóa", locked: true, width: 200 }] }
                ],
                dataBound: function () {
                    var dataView = this.dataSource.view();
                    for (var i = 0; i < dataView.length; i++) {
                        var dataViewI = dataView[i].items;
                        for (var j = 0; j < dataViewI.length; j++) {
                            var dataViewJ = dataViewI[j].items;
                            for (var k = 0; k < dataViewJ.length; k++) {
                                if (kendo.parseDate(dataViewJ[k].Deadline, "dd/MM/yyyy") <= new Date() && dataViewJ[k].ApproveStatus == 2) {
                                    $("#MaterialProposalGrid").find("tr[data-uid=" + dataViewJ[k].uid + "]").addClass("btn-danger active");
                                } else if (kendo.parseDate(dataViewJ[k].Deadline, "dd/MM/yyyy") <= new Date().addDays(3) && dataViewJ[k].ApproveStatus == 2) {
                                    $("#MaterialProposalGrid").find("tr[data-uid=" + dataViewJ[k].uid + "]").addClass("btn-warning active");
                                } else {

                                }
                            }
                        }
                    }
                }
            });

            $("#search").on('click', function(e) {
                readGrid();
            });

            $("#ApproveStatus > label").on('click', function(e) {
                $("#ApproveStatus > label").removeClass("active");
                $(this).addClass("active");
                readGrid();
            });

            $("#DepartmentId").kendoDropDownList({
                dataTextField: "DepartmentName",
                dataValueField: "Id",
                autoBind: true,
                optionLabel: "Chọn đơn vị",
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: "/Home/GetDepartment",
                            type: "post"
                        }
                    }
                }
            });

            $("#DepartmentId").on('change', function() {
                readGrid();
            });

            $("#ProgressStatusId").kendoDropDownList({
                dataTextField: "Status",
                dataValueField: "Id",
                autoBind: true,
                optionLabel: "Chọn trạng thái",
                dataSource: {
                    severFiltering: true,
                    transport: {
                        read: {
                            url: "/Home/GetProgressStatus",
                            type: "post"
                        }
                    }
                }
            });

            $("#ProgressStatusId").on('change', function() {
                readGrid();
            });

            function readGrid() {
                var grid = $("#MaterialProposalGrid").data("kendoGrid");
                grid.dataSource.read();
                if (grid.dataSource.page() != 1) {
                    grid.dataSource.page(1);
                }
            }

            implementerDepartmentDataSource.read();
            implementerUserDataSource.read();
            progressStatusDataSource.read();
            materialProposalCodeDataSource.read();
        });
        Date.prototype.addDays = function(days) {
            this.setDate(this.getDate() + days);
            return this;
        };
        var textareaEditor = function(container, options) {
            $('<textarea class="k-input k-textbox" data-bind="value:' + options.field + '" />')
                .appendTo(container);
        };

        function getImplementerDepartmentName(id) {
            var departmentName = "";
            $.each(implementerDepartmentDataSource._data, function() {
                if (this.Id == id) {
                    departmentName = this.DepartmentName;
                }
            });
            return departmentName;
        }

        var implementerDepartmentDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Home/GetDepartment",
                    type: "post"
                }
            }
        });

        function implementerDepartmentEditor(container, options) {
            $('<input required data-bind="value:' + options.field + '"/>')
                .appendTo(container)
                .kendoDropDownList({
                    dataTextField: "DepartmentName",
                    dataValueField: "Id",
                    optionLabel: "-Chọn-",
                    dataSource: implementerDepartmentDataSource
                });
        }

        function getImplementerDisplayName(userName) {
            var displayName = "";
            $.each(implementerUserDataSource._data, function() {
                if (this.UserName == userName) {
                    displayName = this.DisplayName;
                }
            });
            return displayName;
        }

        var implementerUserDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Home/GetUser",
                    type: "post"
                }
            }
        });

        function implementerUserEditor(container, options) {
            $('<input required data-bind="value:' + options.field + '"/>')
                .appendTo(container)
                .kendoDropDownList({
                    dataTextField: "DisplayName",
                    dataValueField: "UserName",
                    optionLabel: "-Chọn-",
                    dataSource: implementerUserDataSource
                });
        }

        function getProgressStatus(id) {
            var status = "";
            $.each(progressStatusDataSource._data, function() {
                if (this.Id == id) {
                    status = this.Status;
                }
            });
            return status;
        }

        var progressStatusDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Home/GetProgressStatus",
                    type: "post"
                }
            }
        });

        function progressStatusEditor(container, options) {
            $('<input required data-bind="value:' + options.field + '"/>')
                .appendTo(container)
                .kendoDropDownList({
                    dataTextField: "Status",
                    dataValueField: "Id",
                    optionLabel: "-Chọn-",
                    dataSource: progressStatusDataSource
                });
        }

        var materialProposalCodeDataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: "/Home/GetMaterialProposals",
                    type: "post"
                }
            }
        });

        function getMaterialProposalLink(code) {
            var proposalCode = "";
            $.each(materialProposalCodeDataSource._data, function() {
                if (this.MaterialProposalCode == code) {
                    proposalCode = "Mã đề xuất: <a href='/chinh-sua-de-xuat/" + this.MaterialProposalId + "' class='label label-primary'>" + this.MaterialProposalCode + "</a>";
                }
            });
            return proposalCode;
        }
    </script>

}
