@{
    ViewBag.Title = "Index";
}

<div class="row">&nbsp;</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">Danh sách tài khoản</div>
        <div class="panel-body">
                <div id="AccountGrid"></div>
        </div>
    </div>
</div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")

            <script id="departmentTemplate" type="text/x-kendo-tmpl">
                # if (Department == 1) { #
                Phòng kinh doanh
                # } else {#
                Phòng vật tư
                # } #
            </script>
            <script type="text/javascript">
                $(document).ready(function () {
                    var accountDataSource = new kendo.data.DataSource({
                        autoSync: true,
                        transport: {
                            read: {
                                url: "/Account/GetAccount",
                                type: "post"
                            },
                            update: {
                                url: "/Account/AddOrUpdateAccount",
                                type: "post"
                            },
                            destroy: {
                                url: "/Account/DeleteAccount",
                                type: "post",
                            },
                            create: {
                                url: "/Account/AddOrUpdateAccount",
                                type: "post"
                            },
                            parameterMap: function (options, operation) {
                                if (operation !== "read" && options.models) {
                                    return {
                                        models: kendo.stringify(options.models)
                                    };
                                }
                            }
                        },
                        batch: true,
                        pageSize: 10,
                        serverPaging: true,
                        schema: {
                            model: {
                                id: "Id",
                                fields: {
                                    Id: { editable: false, nullable: false, defaultValue: "" },
                                    UserName: { editable: false },
                                    FirstName: { type: "string" },
                                    LastName: { type: "string" },
                                    Department: {  },
                                    Roles: { type: "string" }
                                }
                            },
                            total: "total",
                            data: "data"
                        }
                    });

                    $("#AccountGrid").kendoGrid({
                        dataSource: accountDataSource,
                        navigatable: true,
                        pageable: true,
                        groupable: {
                            messages: {
                                empty: "Kéo thả tên cột vào đây để xem theo nhóm."
                            }
                        },
                        height: 500,
                        //toolbar: [{ name: "create", text: "Thêm" }, { name: "save", text: "Lưu" }, { name: "cancel", text: "Hủy" }],
                        columns: [
                            { field: "UserName", title: "Tên đăng nhập" },
                            { field: "FirstName", title: "Họ" },
                            { field: "LastName", title: "Tên" },
                            {
                                field: "Department", title: "Phòng ban", editor: departmentDropDownEditor, template: "#=Department.DepartmentName#"
                            },
                            { field: "Roles", title: "Quyền hạn", editor: rolesEditor, width: 200 },
                            { command: [{ name: "destroy", title: "&nbsp;", width: 70, text: "Xóa" }] }
                        ],
                        editable: true
                    });

                    function departmentDropDownEditor(container, options) {
                        $('<input required data-text-field="DepartmentName" data-value-field="Id" data-bind="value:' + options.field + '"/>')
                            .appendTo(container)
                            .kendoDropDownList({
                                dataSource: {
                                    transport: {
                                        read: {
                                            url: "/Home/GetDepartment",
                                            type: "post"
                                        }
                                    }
                                }
                            });
                    }

                    function rolesEditor(container, options) {
                        $('<input required data-text-field="RoleName" data-value-field="RoleName" data-bind="value:' + options.field + '"/>')
                                .appendTo(container)
                                .kendoDropDownList({
                                    dataSource: {
                                        transport: {
                                            read: {
                                                url: "/Account/GetRole",
                                                type: "post"
                                            }
                                        }
                                    }
                                });
                    }
                });
            </script>
        }
